

# 1. Ignora todos los archivos y carpetas.
*

# 2. NO ignore los directorios.
!*/

# 3. NO ignore ningún archivo que termine en .java, en cualquier subdirectorio.
!**/*.java
!pom.xml

# 4. NO ignore este propio archivo .gitignore para que se suba al repositorio.
!.gitignore


.idea/
.vscode/
target/
build/
out/
*.class
*.log
*.iml

/.idea